// stuff
.o-content-header {
    padding: 4rem 0;
    display: table;
    .m-car-header,
    .m-pagination {
        display: table-cell;
    }
    .m-car-header {
        width: 72.8rem;
        div {
            display: table;
            width: 100%;
        }
    }

    .a-car-detail {
        list-style: none;
        display: inline-block;
        &:not(:first-child):before {
            content: ' •';
            font-size: 2rem;
            padding-right: 1rem;
            margin-right: 1rem;
        }
    }
    .a-car-title {
        font-size: 3.6rem;
        font-weight: 300;
    }
    .a-car-price {
        font-size: 2.8rem;
        &:after {
            content: 'g';
        }
    }
    .a-car-details,
    .a-car-actions {
        display: table-cell;
    }
    .a-car-actions {
        text-align: right;
    }
    .a-car-action:first-child {
        padding-right: 1rem;
    }

    .m-pagination {
        text-align: center;
    }
    .a-pagination {
        list-style: none;
        display: inline-block;
        padding: .5rem;
    }
    .a-pagination-list {
        border: 1px solid #ccc;
        border-width: 0 1px;
        line-height: .5;
    }

}
