// all things layout
html {
    min-height: 100%;
}
// desktop, full width with margin left and right
.o-header-content,
.o-content-header,
.footer-content,
.o-main-content,
.m-tabs {
    width: 106.8rem;
    margin: 0 auto;
}
.o-main-content {
    display: table;
    &  > article,
    & > aside {
        display: table-cell;
    }
    & > article {
        width: 72.8rem;
        margin-right: 4rem;
    }
    & > aside {
        width: 30rem;
        background-color: rebeccapurple;
    }
    @include breakpoint(phablet) {
        background-color: green;
    }
    @include breakpoint(tablet) {
        background-color: red;
    }
    @include breakpoint(laptop) {
        background-color: blue;
    }
    @include breakpoint(mobileonly) {
        background-color: yellow;
    }
    @include breakpoint(desktop) {
        background-color: lime;
    }
}

.content-title-bar {
    h2,
    .dealer {
        margin-top: .5rem;
    }
    h2,p {
        width:640px;
        display: inline-block;
    }
    .dealer {

    }
}

.detail {
    article {
        display: table;
    }

    .content,
    .dealer {
        //display: table-cell;

    }
    .content {
        margin-right: 2rem;

    }
    .dealer {
        width: 300px;
        float: right;
        margin-top: -3rem;
    }
}

footer {
    position: relative;
    bottom:0;
    background-color: $bg-dark-gray;
    width: 100%;
    display: block;
    padding: 2rem 0;
}
.footer-content {
    color: #fff;
    display: block;
}
// @media (max-width: $phone) {
//     .detail .overview-list {
//         outline: 1px dotted red;
//         -webkit-columns: 1;
//     }
// }
@media (max-width: $phablet)  {
    .detail {
        .main-content {
            width: 100%;
            display: block;
        }
        .dealer {
            width: 100%;
            display: block;
            margin-top: 2rem;
        }
    }
}

.test {


    h2 a {
        float: right;
    }
    .main-content {
        display: table;
        article {
            display: table-cell;
            width: 72.8rem;
            padding-right: 4rem;
        }
        aside {
            display: table-cell;
            background-color: #BD10E0;

        }
    }
}
