.o-header-page {
	background-color: $yellow;
}
.o-header-content {
	height: 5rem;
}
.m-nav-bar{
	list-style:none;
	padding:0;
	position: relative;
}
.a-nav-item {
	display: inline-block;
	position: relative;
}
.a-nav-item-home {
	width: 18rem;
	background: url(../img/logo-autotrack.svg);
	height: 5rem;
	background-size: 15rem;
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 3rem;
	span {
		opacity: 0.01;
	}
}
.a-nav-link {
	text-decoration: none;
	color: #000;
	height: 5rem;
	display: block;
	line-height: 5rem;
	padding: 0 1rem;
}
.dropdown-menu {
	display: none;
	position: absolute;
	top: 1rem;
	left: 0;
}
.nav-link:hover + .dropdown-menu {
	display:block;
}

@media (max-width: $phablet) {
	.nav-item:not(.nav-item-home) {
		display:none;
	}
	.navbar:hover .nav-item {
		display:block;
		left: 0;
		top: .5rem;
		background-color: yellow;
		padding: .3rem;
	}
}
