.o-header-page {
	background-color: $yellow;
}
.o-header-content {
	height: 5rem;
}
.m-nav-bar{
	list-style:none;
	padding:0;
	position: relative;
}
.a-nav-item {
	display: inline-block;
	position: relative;
}
.a-nav-item-home {
	width: 18rem;
	background: url(../img/logo-autotrack.svg);
	height: 5rem;
	background-size: 15rem;
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 3rem;
	span {
		opacity: 0.01;
	}
}
.a-nav-link {
	text-decoration: none;
	color: #000;
	height: 5rem;
	display: block;
  line-height: 4.25rem;
  padding: .75rem 1rem 0;
}
.m-dropdown-menu {
	display: none;
	position: absolute;
	top: 1rem;
	left: 0;
	z-index:10;
	background-color: $bg-dark-gray;


}
.a-dropdown-item {
	list-style: none;
	outline: 1px solid red;
	.a-nav-link {
		height: 3rem;
		color: #fff;
	}
}
.a-nav-link:hover + .m-dropdown-menu {
	display:block;
}

@media (max-width: $phablet) {
	.a-nav-item:not(.a-nav-item-home) {
		display:none;
	}
	.m-nav-bar:hover .a-nav-item {
		display:block;
		left: 0;
		top: .5rem;
		background-color: yellow;
		padding: .3rem;
	}
}
