.overview-list {
    -webkit-columns: 2;
    line-height: 2;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin: 0 0 1rem;
    dt,dd {
        display: inline-block;
        width: 45%;
    }
    dd {
        margin: 0;
    }
}
