
body {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'gill-sans',roboto, helvetica, sans-serif;
    color: $text-color;
}
a {
    text-decoration: none;
    color: $blue;
}

.content-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: normal;
}
.title .price {
    font-size: 28px;
    padding-right: 2rem;
}
.title a {
    padding-right :2rem;
}
.dealer-title {
    font-size: 24px;
    font-weight: normal;

}
.dealer-details {
    font-size: 14px;
    line-height: 28px;
}
.dealer-classification {
    color: #666;
    font-size: 12px;
}
