// colors

$text-color: #3E454D;
$yellow : #FFED20;
$blue : #1679DB;

$bg-light-gray: #ECEDE7;

$bg-dark-gray: #3E454D;


// breakpoints
$phone : 500px;
$phablet : 700px;
$medium: (min-width 768px max-width 1023px);
$large: (min-width 1024px orientation landscape);
$wide: (min-width 1440px);
