@import "variables";
@import "mixins";
@import "reset";
@import "system";
@import "typography";
@import "icons";
@import "button";
@import "tabs";
@import "o-main-content";
@import "overview";
@import "dealer";
@import "content-header";
@import "carousel";
@import "header";
@import "navigation";
@import "layout";

main {
    width: 100%;
    overflow: hidden;

}
.carousel {
    height: calc(250px * .7);
    overflow: hidden;

}
div.image {
    display: inline-block;
    height: calc(250px * .7);
    width: calc(333px * .7);
}

img {
    width: 100%;
    height: 100%;
    display: block;
}
