section.o-carousel.o-carousel-top
    figure
        div.a-image
            img(src="img/bugatti1.png")
        div.a-image
            img(src="img/bugatti2.png")
        div.a-image
            img(src="img/bugatti3.png")
        div.a-image
            img(src="img/bugatti4.png")
        div.a-image
            img(src="img/bugatti1.png")
        div.a-image
            img(src="img/bugatti2.png")
        div.a-image
            img(src="img/bugatti1.png")
        div.a-image
            img(src="img/bugatti2.png")
        div.a-image
            img(src="img/bugatti3.png")
        div.a-image
            img(src="img/bugatti4.png")
        div.a-image
            img(src="img/bugatti1.png")
        div.a-image
            img(src="img/bugatti2.png")
