section.carousel.carousel-top
    figure
        div.image
            img(src="img/bugatti1.png")
        div.image
            img(src="img/bugatti2.png")
        div.image
            img(src="img/bugatti3.png")
        div.image
            img(src="img/bugatti4.png")
        div.image
            img(src="img/bugatti1.png")
        div.image
            img(src="img/bugatti2.png")
