header.o-content-header
    div.car-header
        h1.car-title
            | Bugatti Veyron 16.4 Villa D ’Este Centenary

        ul.car-details
            li.car-detail.car-price
                span € 975.000
            li.car-detail.car-milage
                span 8.507 km
            li.car-detail.car-date
                span maart 2012
            li.car-detail.car-transmission
                span Automaat

        p.car-actions
            a.car-action.car-favorite(href="nu.nl") Favoriet
            a.car-action.car-insurance(href="nu.nl") Verzekeren
