div.o-dealer
    h2.m-header
        | Aanbieder
    section.o-dealer-content
        div.hcard.m-dealer-data
            h3 PON luxury car
            small Officiële merkdealer
            p.street-address Zuiderinslag 8
            p
                span.postal-code 5322 AA
                span.locallity Leusden
            p.url www.bentley-leusden.nl
        ul.m-dealer-actions
            each val,i in [{'label':'Bel ons','data':'tel:0123456789','class':'a-dealer-call'},{'label':'Plan route','data':'maps.google.nl','class':'a-dealer-map'},{'label':'Bezoek onze site','data':'www.site.nl','class':'a-dealer-url'},{'label':'Bekijk onze voorraad','data':'www.voorraad.nl','class':'a-dealer-stock'},{'label':'2.165 beoordelingen','data':'www.beoordelingen.nl','class':'a-dealer-foo'},{'label':'Chat is online','data':'www.chat.nl','class':'a-dealer-chat'}]

                li.a-dealer-action
                    a(href=val.data,class="a-dealer-link "+val.class)
                        span= val.label
