div.o-dealer
    h2.m-header
        | Aanbieder
    section.o-dealer-content
        div.hcard.m-dealer-data
            h3 PON luxury car
            small Officiële merkdealer
            p.street-address Zuiderinslag 8
            p
                span.postal-code 5322 AA
                span.locallity Leusden
            p.url www.bentley-leusden.nl
