pageTitle = "Land Rover Defender 130 CC 'DE Uiver' Special / Airc 2014 VF-152-X | AutoTrack"
doctype html
html(lang="nl")
    head
        title= pageTitle
        <meta charset="utf-8">
        link(href="css/style.css" type="text/css" rel="stylesheet")
