div.overview
    dl.overview-list
        dt Kenteken
        dd Onbekend
        dt Kilometerstand
        dd 6.500 km
        dt Bouwjaar
        dd 01-2009
        dt Carrosserievorm
        dd Coupe
        dt Aantal deuren
        dd 2
        dt Transmissie
        dd Automaat
        dt APK geldig tot
        dd -
        dt Brandstof
        dd Benzine
        dt Verbruik
        dd -
        dt Geïmporteerd
        dd Nee
        dt Onderhoudsboekje
        dd Ja
