

header.o-header-page
    section.o-header-content
        nav.m-header-nav
            ul.m-nav-bar
                li.a-nav-item.a-nav-item-home
                    a.a-nav-link
                        span home
                each val,i in ['Auto zoeken', 'Auto samenstellen','Financieel','Mijn autotrack']

                    li.a-nav-item
                        a.a-nav-link
                            span= val
                        if i === 3
                            ul.m-dropdown-menu
                                each val,i in ['item1','item2',item3]
                                    li.a-dropdown-item
                                        a.a-nav-link
                                            span= val
