header.o-header-page
    section.o-header-content
        nav.m-header-nav
            ul.m-nav-bar
                li.a-nav-item.a-nav-item-home
                    a.a-nav-link
                        span home
                each val in ['Auto zoeken', 'Auto samenstellen','Financieel','Mijn autotrack']
                    li.a-nav-item
                        a.a-nav-link
                            span= val
