nav.o-tab-bar
    ul.m-tabs
        li.a-tab.a-tab-active overzicht
        li.a-tab
            a.a-tab-link(href="#") Extra gegevens
        li.a-tab
            a.a-tab-link(href="#") Aanbieder
        li.a-tab
            a.a-tab-link(href="#") Kosten
        li.a-tab
            a.a-tab-link(href="#") Autoverzekering
